/* login.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #343541;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
a {
    color:#37b3ed ;
    text-decoration: none;
  }
  
  a:hover {
    color:  #149ddd;
    text-decoration: none;
  }
p{
    margin-top: 28px;
    margin-bottom: -20px;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-form {
    background-color: #343541;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    
}

.login-heading {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.login-input {
    width: 100%;
    padding: 15px; /* Increased padding for a more attractive input */
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: #2c2d37; /* Darker background color for input */
    color: #ffffff;
    margin-left: -10px;
}

.login-button {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-left: 35%;
}

.login-button:hover {
    background-color: #45a049;
}

.login-error {
    color: red;
    margin-top: 10px;
}

/* You can include other styles as needed */
